<html>
    <head>
        <title>Votre requête</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Votre demande</h1>
            </div>
            <div id="content">
                <form method="post" action="{{ url_for('result') }}">
                  <label for="yourname">Auteur</label>
                  <input type="text" value="Hicham Chahidi" name="author" /><br />
                  <label for="youremail">Genre</label>
                    <select name="genre" size="1">
                        {% for genre in genres %}
                            <option>{{ genre }}</option>
                    </select>
                  <input type="text" value="Ethnique" name="genre" /><br />
                  <input type="submit" />
                </form>
            </div>
        </div>
    </body>
</html>