 <html>
    <head>
        <title>Réponse</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="title">
                <h1>Auteur <strong>{{author}}</strong> - Genre <strong>{{genre}}</strong></h1>
            </div>
            <div id="content">
                <br>
                {% for titre in results %}
                    <h2>{{ titre }}</h2>
                    {% for element in results[titre] %}
                        <p>{{ element[1] }}: {{ element[0] }}</p>
                    {% endfor %}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
